extends layout

block content
  p Successfully Logged in. You can close this window now.
  script.
    window.opener.postMessage({
      token: '!{token}',
      spotify: !{JSON.stringify(spotify)},
    }, '!{host}');
    window.close();
