extends layout

block content
  p Successfully Logged in. You may close this window now.
  script.
    (function(){
      if (!window.opener) return;
      window.opener.postMessage({
        token: '!{token}',
        spotify: !{JSON.stringify(spotify)},
      }, '*');
      window.close();
    })()


